# Local
.DS_Store
.vs
.vscode

/Build/
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf

/Conf/
/SurfaceDuo/
Platforms/AndromedaPkg/Include/Generated/ConfigServiceGenerated.h
Platforms/AndromedaPkg/Include/Generated/ConfigDataGenerated.h
Platforms/AndromedaPkg/Include/Generated/ConfigClientGenerated.h

ImageResources/Epsilon/bootpayload.bin
ImageResources/Epsilon/dualbootbootpayload.bin
ImageResources/Epsilon/SM8150_EFI_NOSB.fd
ImageResources/Epsilon/SM8150_EFI.fd
ImageResources/Epsilon/uefi_dualboot.img
ImageResources/Epsilon/uefi_nosb.img
ImageResources/Epsilon/uefi_nosb.payload.bin
ImageResources/Epsilon/uefi.img
ImageResources/Epsilon/uefi.payload.bin

ImageResources/Zeta/bootpayload.bin
ImageResources/Zeta/dualbootbootpayload.bin
ImageResources/Zeta/SM8350_EFI_NOSB.fd
ImageResources/Zeta/SM8350_EFI.fd
ImageResources/Zeta/uefi_dualboot.img
ImageResources/Zeta/uefi_nosb.img
ImageResources/Zeta/uefi_nosb.payload.bin
ImageResources/Zeta/uefi.img
ImageResources/Zeta/uefi.payload.bin